.select2-selection__rendered {
    line-height: 46px !important;
    border: none !important;
}
.select2-container .select2-selection--single {
    height: 50px !important;
    border: none !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background-color: #f8f8f8 !important;
}
.select2-selection__arrow {
    height: 50px !important;
    border: none !important;
}

.header-loading {
	z-index: 112;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #159fff;
	-webkit-animation: preloader-background-data-v-1b70a5bd 2s linear infinite;
	animation: preloader-background-data-v-1b70a5bd 2s linear infinite;
}

@keyframes preloader-background-data-v-1b70a5bd{
  0%,33.2% {
    background-color:#159fff
  }
  33.3%,66.5% {
    background-color:#e35760
  }
  66.6%,to {
    background-color:#fbff2d
  }
}

@-moz-keyframes spin { 0%,40% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 0%,40% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0%,40% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#exchanger {
  cursor: pointer;
}

.modal-full-size {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-no-margin {
  margin: 0;
}
.offers {
  width: 100%;
  height: 99%;
  margin: 0;
  padding: 0;
  display: block;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.offer-table {
  width: 100%;
  border-collapse: collapse;
}

.offer-cont {
  color: inherit;
  width: 100%;
  display: block;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.offer-cont td {
  margin: 20px;
  display: inline-block;
}

.offer-cont:hover {
  background: #159fff;
  color: white;
}

.receipient {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.details {
  display: block;
  color: black;
  padding: 30px;
}

.detail-text {
  width: 50%;
  font-size: 1.25rem;
}

.detail-text.left {
  float: left;
}

.detail-text.right {
  float: right;
  text-align: right;
}

.detail-text-br.right {
  float: right;
  text-align: right;
}

.detail-text-br {
  width: 50%;
  font-weight: 600;
}

.address {
  margin-top: 20px;
}

textarea {
  background: transparent;
  border: 1px solid #ccc;
  color: #30322f;
  padding: 1rem 1.5rem;
  display: block;
}

small {
  font-size: 80%;
  display: block;
  margin-top: .25rem;
  color: #b3b3b3;
}

.terms {
  margin-top: 10px;
}

.transaction-detail {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.about-cont {
  margin-top: 10px;
}

.about-text {
  font-size: 16px;
}

.about-focus {
  font-size: 20px;
  font-weight: 600;
}

.copyHandler {
  margin-left: 10px;
  cursor: pointer;
}

#accept-offers:disabled, #accept-offers[disabled] {
  background-color: #ccc;
  color: black;
  cursor: not-allowed;
}

#amt-with-cur {
  color: #159fff;
}

.floating {
  width: 200px;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.rotate-animation {
  animation: spin 1s linear infinite;
}

.ui-tooltip, .arrow:after {
  background: red;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -50px;
  top: auto;
}
